nav {
  background-color: rgba(117.94,91.72,60.93,1);
}
.navbar-collapse .nav-link {
  font-family: Montserrat;
  font-size: 18px;
  color: #F2D1AD;
}
.navbar-brand img {
  margin-left: 96.16px;
  margine-top: 12px;
}

body {
  background-image: url('images/Banner.png');
  background-size: 1680px 816px;
  background-repeat: no-repeat;
  font-family: Montserrat, sans-serif;
}

.carousel-title {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 120px;
}

.carousel-title h3 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  color:#755B3C;
}

.carousel-title p {
  font-size: 24px;
  color: #755B3C;
}

.carousel-container {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px auto;
  width: 1245px;
  height: 764px;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}